*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app__body{
  height: 100vh;
  width: 100vw;

  background-color: #f3f5f9;
  box-shadow: -1px 4px 20px -6px rgb(0,0,0,0);
  
  display: flex;

}