 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); 
*{
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  margin: 0;
  padding: 0;
}

.account_icon{
  font-size: 40px !important;
}

.contact{
  height: 40px;
  width: 40px;

  border-radius: 50%;
  margin-right: 20px;

  background-size: 100%;
  overflow: hidden;
}